@mixin common {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid grey;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.card-padding-yes {
  @include common;
  padding: 20px 15px 28px;
}

.card-padding-min {
  @include common;
  padding: 15px;
}

.card-padding-no {
  @include common;
  padding: 0;
}
