@import '../../assets/colors/variables';
.leftSidebar {
  // background-color: lightblue;
  margin-top: 20px;
  width: 250px;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-basis: 25%;
  .leftNavigation {
    display: flex;
    flex-direction: column;
    .header-button {
      margin: 0px 5px;
      display: flex;
      align-items: center;
      height: 55px;
      cursor: pointer;
      border-radius: 10px;
      transition: 0.2s;

      a {
        margin-left: 15px;
        display: flex;
        flex-direction: rox;
        align-items: center;
        color: #626262;
        .leftIcons {
          font-size: 30px;
          width: 30px;
          height: 30px;
          color: $ButtonBlue;
          margin-right: 20px;
        }
      }

      .seeMore{
        color: $ButtonBlue;
      }

      &:hover {
        // color: darkblue;
        background-color: rgb(198, 212, 243);
        transition: 0.001s;
      }
    }    
  }
  .horizontalLine{
    border-bottom: 1px solid $LightGrey;
    margin: 10px 0;

  }
  .square-bullet-icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 12px;
    .user-icon {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      cursor: pointer;
    }
  }
  
}
