@mixin commonContainer {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 12px;
}
@mixin commonItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.circle-icon-container-is-active-yes {
  @include commonContainer;
  &::after {
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    // top: 0;
    right: 0;
    bottom: 0;
  }
  .circle-icon {
    @include commonItem;
  }
}

.circle-icon-container-is-active-no {
  @include commonContainer;
  .circle-icon {
    @include commonItem;
  }
}