@import '../../assets/colors/variables';
.page{
  // background-color: red;
  .container{
    padding: 0 25px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 720px;  
    margin: auto; 
    
    .title{
      max-width: 500px;
      // padding-right: 150px;
      h1{
        font-size: 56px;
        color: $ButtonBlue;
      }
      h2{
        font-size: 28px;
        // max-width: 500px;
        font-weight: lighter;
        
      }
    }
  
  }


  
  footer {
    background-color: white;
    color: #8a8d91;  
    text-align: center;
    padding-top: 10px;
  }
}
