@mixin ClickableContainerCommon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    background-color: rgb(198, 212, 243);
    transition: 0.001s;
  }

}
.clickable-container-justify-content-flex-start {
  @include ClickableContainerCommon;
  justify-content: flex-start;
}

.clickable-container-justify-content-center {
  @include ClickableContainerCommon;
  justify-content: center;
}
