@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainContentComponent {
  display: flex;
  flex-direction: column;
  flex-basis: 47%;

  .post-input-container {
    @include flex-row;
  }

  .post-buttons-container {
    @include flex-row;

    .test-class {
      flex-basis: 45%;
    }
  }
}
