main {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.toggleButton{
  width: 400px;
  height: 100px;
  background-color: purple;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;

}