@import "../../assets/colors/variables";

@mixin buttonStyles($width, $fontSize, $color) {
  border: none;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  color: white;
  font-weight: bold;
  margin: 6px 0;
  width: $width;
  font-size: $fontSize;
  &:hover{
    cursor: pointer;
    background-color: $color;
  }
}

.componentButton {
  display: flex;
  justify-content: center;

  .logIn {
    background-color: $ButtonBlue;
    @include buttonStyles(332px, 20px, #166fe5);
  }

  .newAccount {
    background-color: $ButtonGreen;
    @include buttonStyles(200px, 17px, #36a420);
  }
}
